@import url(reset.css);

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 100%;
    background: linear-gradient(135deg, #e9f3ff, #c3c3ff);
    min-height: 100vh;
}

body > .container {
    max-width: 43.75em; /* 700px */
    margin: 0 auto;
}

.fas {
    font-size: 1em;
    height: 2em;
    cursor: pointer;
}

/*##########################
            HEADER
############################*/
header {
    position: fixed;
    width: 100%;
    max-width: 43.75em; /* 700px */
    margin: 0 auto;
    z-index: 100;
}

form {
    width: 100%;
    height: 3em;
    padding: 0 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form select,
form input[type=text] {
    height: 2em;
    padding: 0.3em;
    color: white;
    background-color: #383949;
    border: none;
    border-radius: 3px;
    outline: 0;
}

form select::placeholder,
form input[type=text]::placeholder {
    color: #c5c5c5
}

#form-add-task {
    background-color: #4079e2
}

#form-filter-task {
    background-color: #6097fc
}

#input-filter-task-wrapper,
#input-add-task-wrapper {
    position: relative;
    flex-grow: 1;
    display: flex;
    overflow: hidden;
    margin: 0 5px;
}

#input-filter-task-wrapper {
    margin-right: 0;
}

#input-add-task,
#input-filter-task {
    border: 1.5px solid transparent;
    flex-grow: 1;
    padding-left: 0.5em;
}

.clear-input {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0.35em;
    right: -1em; /* hidden */
    width: 1em;
    height: 1em;
    border-radius: 50%;
    color: #31323b;
    background-color: white;
    opacity: 0;
    transition: 0.5s;
}

.clear-input i {
    display: flex;
    align-items: center;
    font-size: 0.75em;
}

.show-clear-input {
    opacity: 1;
    right: 0.7em;
    transform: rotateZ(-180deg);
}

/* .input-filter-error-tooltip, */
.input-add-error-tooltip {
    display: none;
    font-size: 0.9em;
    position: absolute;
    top: 3em;
    left: 50%;
    transform: translateX(-50%);
    padding: 0.5em 0.6em;
    color: #444;
    background-color: white;
    border: 1.5px solid red;
    border-radius: 5px;
    z-index: 1000;
}

/* .input-filter-error-tooltip::after, */
.input-add-error-tooltip::after {
    content: ' ';
    position: absolute;
    top: -0.9em;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0.5em;
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.show-error-tooltip {
    display: block;
}

/* #input-filter-task.show-error-border, */
#input-add-task.show-error-border {
    border-color: red;
}

.fa-plus-circle {
    color: #fdfdfd;
    font-size: 1.2em;
    height: auto;
}

/*########################
            BODY
##########################*/

.pending-tasks-wrapper {
    width: 100%;
    padding-top: 6em;
}

.completed-tasks-wrapper {
    width: 100%;
}

.pending-tasks-wrapper h2,
.completed-tasks-wrapper h2 {
    font-size: 0.8em;
    padding: 0.5em 1em;
    font-weight: bold;
    background-color: #1250d6;
    color: white;
}

.completed-tasks-wrapper h2 {
    background-color: #646979;
}

.pending-tasks-wrapper h2#task-added,
.completed-tasks-wrapper h2#task-re-added {
    position: fixed;
    top: 7.5em;
    width: 100%;
    max-width: 54.6875em; /* is equivalent to 43.75em or 700px at font-size: 1em. But this h2 has font-size: 0.8em */
    background-color: #009b00;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.completed-tasks-wrapper h2#task-re-added {
    background-color: #e65c00;
}

#pending-tasks,
#completed-tasks {
    padding: 0 2px;
    /* overflow: hidden; */
}

.task-added {
    animation: animation-task-added 2s;
    animation-delay: 0.1s;
}

@keyframes animation-task-added {
    0% {
        transform: rotateX(-90deg);
    }
    25% {
        transform: rotateX(0);
    }
    100% {
        transform: rotateX(0);
    }
}

.task {
    width: 100%;
    max-width: 100%;
    padding: 0.5em 1em;
    padding-right: 0.6em;
    color: #202020;
    background-color: white;
    border: 3px solid black;
    border-radius: 5px;
    margin: 2px 0;
    position: relative;
    overflow: hidden;
}

/* .pending-task {
    transition: transform 0.5s;
} */

.add-task-animation {
    animation: add-task-animation 0.5s forwards;
    transform: rotateX(-90deg);
    transform-origin: top;
}

.task:nth-child(2) {
    animation-delay: 0.1s;
}

.task:nth-child(3) {
    animation-delay: 0.2s;
}

.task:nth-child(4) {
    animation-delay: 0.3s;
}

@keyframes add-task-animation {
    from {
        transform: rotateX(-90deg);
    }
    to {
        transform: rotateX(0);
    }
}

.monthly {
    border-color: #2b75ff;
}

.weekly {
    border-color: #ff7424;
    border-color: #a724ff;
}

.urgent {
    border-color: #ff2e2e;
}

.completed-task {
    border-color: #9c9c9c;
}

.task h3 {
    padding-bottom: 0.5em;
    font-size: 0.63em;
}

.task div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#cancel-delete {
    position: fixed;
    top: 120%;
    left: 10%;
    width: 80%;
    max-width: 43.75em; /* 700px */
    height: 3em;
    margin: 0 auto;
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #31323b;
    color: white;
}

#cancel-delete span:last-child {
    color: #79b7ff;
    font-size: 1em;
    cursor: pointer;
}

.show-cancel-delete {
    animation: animation-show-cancel-delete 4s;
}

@keyframes animation-show-cancel-delete {
    0% {
        top: 100%;
    }
    10% {
        top: calc(100% - 3em);
    }
    90% {
        top: calc(100% - 3em);
    }
    100% {
        top: 100%;
    }
}

.fa-level-up-alt {
    padding: 0.4em;
    color: #6b6b6b;
}

.fa-check {
    padding: 0.4em;
    color: #38ce38;
}

.fa-trash {
    padding: 0.4em;
    color: #6b6b6b;
}

/*##################################
            MEDIA QUERIES
####################################*/

@media (min-width: 62.75em) /* 1004px */ {
    .pending-tasks-wrapper h2 {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }
    #pending-tasks {
        padding: 0;
    }
    #cancel-delete {
        width: 25em;
        left: calc(50% - 12.5em);
    }
}

@media (min-width: 75em) /* 1200px */ {
    body > .container,
    header,
    #cancel-delete {
        max-width: 62.5em; /* 1000px */
    }
    .pending-tasks-wrapper h2#task-added {
        max-width: 78.125em; /* is equivalent to 62.5em or 1000px at font-size: 1em. But this h2 has font-size: 0.8em */
    }
}